.author-source-row{
  display: flex;
  justify-content: space-between;
}

.card {
  margin-bottom: 20px;
}

.article-description {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; 
   height: 96px;
}

.article-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
}

.article-image {
  height: 200px;
}